.small-image{
    width: 35%; /*Adjust percentage to change the size*/
    height: auto;/*Maintain aspect ratio*/
}


/*Increase the font size for all paragraphs*/
p{
   font-family: 'Hedvig Letters Serif';
    font-size: 18px; /*Change the value to your desired font size*/ 
}

/*Increase the font size for a specific class*/
.big-text{
    font-size:24px; /*Change the value to your desired font size*/
}

body {
    font-family:'Hedvig Letters Serif';
}
  
/* Reset default margin/padding for better consistency */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the content container */
  .content {
    width: 50%; /* Adjust the width of the content */
    margin-left: auto; /* Push content to the right */
    padding: 20px; /* Add some padding for readability */
  }

  .image-container {
    /* Using flexbox */
    display: flex;
    /* Align items horizontally */
    justify-content: flex-start;
}

.image-container img {
    /* Set a margin to create space between images */
    margin-right: 20px; /* Adjust this value to your preference */
    /*Set the width of the images*/
    width:200px; /*Adjust this value to your preferred size*/
    /*Optionally, to maintain aspect ratio*/
    height:auto;
    object-fit:contain;
}




  